.hero{

    min-height:100vh;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:120px 80px;

    background:#F5F7FA;

}

.hero-left{

    width:50%;

}

.hero-left h1{

    font-size:55px;

    color:#1F2937;

    line-height:1.2;

    margin-bottom:25px;

}

.hero-left p{

    font-size:20px;

    color:#555;

    margin-bottom:40px;

    line-height:1.8;

}

.hero-buttons{

    display:flex;

    gap:20px;

}

.primary{

    padding:16px 35px;

    background:#16A34A;

    color:white;

    border:none;

    border-radius:12px;

    font-size:17px;

    cursor:pointer;

}

.secondary{

    padding:16px 35px;

    background:white;

    border:2px solid #16A34A;

    color:#16A34A;

    border-radius:12px;

    font-size:17px;

    cursor:pointer;

}

.hero-right{

    width:45%;

    display:flex;

    justify-content:center;

}

.hero-right img{

    width:95%;

    animation:float 4s ease-in-out infinite;

}

@keyframes float{

    0%{

        transform:translateY(0);

    }

    50%{

        transform:translateY(-15px);

    }

    100%{

        transform:translateY(0);

    }

}